
<h1>{{name}}'s Page</h1>
<h2>twines:</h2>
{{#each Blogs}}
        <div class="card">
            <h4>{{title}}</h4>
            <p>{{createdAt}}</p>
            <h5>{{body}}</h5>
        </div>
{{/each}}