<h1>Signup!</h1>
<form id="signupForm">
    <input type="text" name="name" id="signupName" placeholder="name">
    <input type="text" name="email" id="signupEmail" placeholder="email">
    <input type="password" name="password" id="signupPassword" placeholder="password">
    <button>Signup!</button>
</form>

<script src="/js/signup.js"></script>